<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sched-Play</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
       body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f7971e, #ffd200);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
    margin-bottom: 30px; 
}

a {
    display: inline-block;
    padding: 16px 30px;
    font-size: 1.2em;
    color: #fff;
    background: orangered;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.2s ease;
    box-shadow: 0 6px 15px rgba(0, 150, 255, 0.3);
}

a:hover {
    background: #ff3b2f;
    transform: translateY(-3px);
}

    </style>
</head>
<body>
    <h1>🏆 Sched-Play 🏆</h1>
    <ul style="color:black;">
    <li><h3>Let's enjoy the sport</h3></li>
    <li><h3>Track your matches,tournaments and competitions easily!</h3></li>
    <li><h3>Stay fit,Stay active , and never miss an event!</h3></li>
    </ul>
    <a href="/dashboard">Move to Dashboard</a>
</body>
</html>